html {
  font-family: Merriweather, serif;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e2e2e2;
}

p {
  background-color: #f2bcbc;
  border-style: solid;
  border-color: #b92828;
  border-radius: 8px;
}
